# W4 - Python data types assignment

# 1. Print word `python` in reverse order

In [1]:
'python'[::-1]

'nohtyp'

# 2. Define variables `apples` and `oranges` and using `format` method print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

In [5]:

"I have {} apples and {} oranges, therefore I have {} fruits".format(7,5,12)

'I have 7 apples and 5 oranges, therefore I have 12 fruits'

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

In [37]:
abc= ['a', 'b', 'c', 'd']
abc[0]+abc[1]+abc[2]

'abc'

# 4. Get difference between two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

In [3]:
first_list = [1, 2, 3, 4, 8, 12]
sec_list = [1, 4, 8, 2]
def Diff(first_list, sec_lsit): 
    return (list(set(first_list) - set(sec_lsit))) 
print (Diff (first_list, sec_list))

[3, 12]

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

In [12]:
numbers = (4, 6, 2, 8, 3, 1)
add = [5,6]
z = list(numbers)
for x in add:
        z.append(x)
print (z)

[4, 6, 2, 8, 3, 1, 5, 6]

# 6. Convert a tuple to a string
```python
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = 'python'
```

In [25]:
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')

str = ''.join(input_tuple)

print(str)

python

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

In [27]:
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
names3= names1.update(names2)
print (names1)

{'Jack': 25, 'John': 26, 'Emily': 23, 'Carol': 28, 'Walter': 22}

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

In [31]:
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
print (sum(ice_cream_price.values()))

743

# 9. Remove item(s) from set. Can you guess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

In [33]:
set_numbers = {1, 2, 3, 4, 5}
set_number[:5]

NameError: name 'set_number' is not defined

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

In [34]:
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
var1, var2, var3 = color
print (var1)
print (var2)
print (var3)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

# BONUS: test whether every element of first set is in second set and vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```